body {
  background-image: linear-gradient(#cdcffb, #f1a3fb, #b1b3f1, #fffeff);
}

a {
  color: #f1a3fb;
}
.App {
  max-width: 960px;
  margin: 0 auto;
}

.App-header {
  margin: 30px 0;
}

.App-logo {
  max-width: 100px;
  display: block;
  margin: 0 auto;
}

.App-footer {
  text-align: center;
  margin: 30px 0;
}
